:root{
    /* Primary Colors */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /* Neutral Colors */
    /* Paragraphs */
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    /* Background, Heading, Buttons */
    --very-light-gray: hsl(0, 0%, 95%);

    --font-family-lexe: 'Lexend Deca', sans-serif;
    --font-family-big-shoulder: 'Big Shoulders Display', cursive;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--very-light-gray);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 835px;
    display: flex;
    border-radius: 0.5rem;
    margin-top: 5rem;
}

.container .container-one{
    background-color: var(--bright-orange);
    padding: 3rem;
    flex: 1;
    border-radius: 0.5rem 0 0 0.5rem;
    max-height: 500px;
}

.container .container-two{
    background-color: var(--dark-cyan);
    padding: 3rem;
    flex: 1;
    border-radius: none;
    max-height: 500px;
}

.container .container-three{
    background-color: var(--very-dark-cyan);
    padding: 3rem;
    flex: 1;
    border-radius: 0 0.5rem 0.5rem 0;
    max-height: 500px;
}

h2{
    margin-top: 1.5rem;
    color: var(--very-light-gray);
    font-family: var(--font-family-big-shoulder);
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

p{
    margin-top: 1.5rem;
    color: var(--transparent-white);
    font-family: var(--font-family-lexe);
    font-size: 13px;
    line-height: 1.4rem;
}

button{
    cursor: pointer;
    margin-top: 4rem;
    padding: 0.7rem 1.5rem;
    border-radius: 2rem;
    font-family: var(--font-family-lexe);
    font-size: 0.9rem;
    font-weight: 400;
}

.container-one button{
    color: var(--bright-orange);
    background-color: var(--very-light-gray);
    border: 2px solid var(--very-light-gray);
    transition: all 200ms ease-in-out;
}

.container-one button:hover{
    color: var(--very-light-gray);
    background-color: var(--bright-orange);
    border: 2px solid var(--very-light-gray);
}

.container-two button{
    color: var(--dark-cyan);
    background-color: var(--very-light-gray);
    border: 2px solid var(--very-light-gray);
    transition: all 200ms ease-in-out;
}

.container-two button:hover{
    color: var(--very-light-gray);
    background-color: var(--dark-cyan);
    border: 2px solid var(--very-light-gray);
}

.container-three button{
    color: var(--very-dark-cyan);
    background-color: var(--very-light-gray);
    border: 2px solid var(--very-light-gray);
    transition: all 200ms ease-in-out;
}

.container-three button:hover{
    color: var(--very-light-gray);
    background-color: var(--very-dark-cyan);
    border: 2px solid var(--very-light-gray);
}

.attribution{
    margin: 2rem;
    text-align: center;
    color: var(--dark-cyan);
    font-family: var(--font-family-lexe);
    font-size: 1.2rem;
  }
  
  .attribution a{
    color: var(--bright-orange);
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
  }
  
  .attribution a:hover{
    text-decoration: underline;
  }

@media (max-width: 850px) {
    .container{
        max-width: 300px;
        flex-direction: column;
    }
    .container .container-one{
        border-radius: 0.5rem 0.5rem 0 0;
    }

    .container .container-three{
        border-radius: 0 0 0.5rem 0.5rem;
    }
}